@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');
@media (min-width: 1400px),(max-width:1800px){

    body{
        font-family: 'Red Hat Display', sans-serif;
        background-color: #D6E1FF;
    }
    h1,h2,h3{
        margin-top: 20px;
        text-align: center;
        font-weight: 700;
    }
    p{
        text-align:center;
        margin: 5px 30px;
    }
    .card-body{
        margin: 5px 30px;
    }
    .col{
    display:flex;
    justify-content:space-around;
    align-items: center;
        background-color: #F8F9FE;
    }

    .card{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 2em;
        border: none;
        width: 500px;
        padding-bottom: 30px;
    }
   img{
       border-top-left-radius: 2em;
       border-top-right-radius: 2em;
       width: 500px;
       height: auto;
   }
   .col{
       padding:15px 20px;
   }
   .col>.img-fluid{
       width:50px;
   }
   .submit{
       border-radius: 1em;
    padding: 15px 10px;
       margin:15px 35px;
    border: none;
    background-color: #312BD9;
    font-weight: 600;
    color: white;

   }
   a{
       text-align: center;
       color: lightslategray;
       text-decoration: none;
       font-weight: 600;
       font-size:20px;
   }
}