/*BACKGROUND-*/
html{
    height: 100%;
    border:none;
}
body{
    background-image: linear-gradient(to bottom, #a267e8, #9666e8, #8865e8, #7a64e8, #6a63e7);
    border:none;
    min-width:100vh;
    overflow: hidden;
}
main{
    z-index:0;
}
/*BACKGROUND-*/
*{
    font-size: 12px;
}
h1{
    font-weight: bold;
}
h2 {
    font-size: 12px;
    display:flex;
    align-items: center;
    justify-content:space-between;
    cursor:pointer;
    margin-bottom: .3em;
    padding-bottom:.3em;
    border-bottom:1px solid #D6E1FF;
}
.row{
    width: 1000px;
    max-width: 100%;
    height: auto;
}
/*CARD*/
    .card{
        top:50%;
        left:50%;
        position:absolute;
        transform:translate(-50%,-50%);
        border: none;
        border-radius:1.5em;
        max-width:100%;
        width:900px;

        margin:0 15px;
    }
/*CARD*/
    .col{
        overflow:hidden !important;
        display: grid;
        box-sizing: border-box;
        max-width:100%;
        width:500px;
    }
    .icon{
        width:280px;
        height:auto;
        position: absolute;
        transform:translate(-50%,-50%);
        top: 56%;
        left: 0;
        overflow:visible !important;
        z-index:2;
    }
    .col>.pattern{
        box-sizing: content-box;
        z-index:0;
        left:-45%;
        bottom:-10%;
        position:absolute;
        max-width:100%;
        width:800px;

    }
   .col> .image{
        max-width:100%;
        width:500px;
        margin:0;
        top:10%;
        left: -2cm;
        position:relative;
        z-index:1;
        object-fit: cover;
        overflow:hidden !important;
       padding:20px 0 20px 0;
    }
    .col>.card-body{
        margin:30px 12px;
    }
.card-body .accordion{
    width:30em;
    max-width:90%;
    padding-top: 60px;
}
.accordion .h2{
    font-weight: 400;
    font-size:14px;
}

.card-body .accordion .block{
     margin: 0 0 .2em;
        padding: .2em;
    }
.card-body .accordion .block .h2{
        margin: 0 0 .2em;
    }

.card-body .accordion .block .text-body{
    height:0;
    padding:0;
    overflow: hidden;
    transition: all .5s ease;
}

.card-body .accordion .block.activated .text-body{
     height:1.5em;
 }



