@import url('https://fonts.google.com/specimen/Inter');
@import url('https://fonts.google.com/specimen/Lexend+Deca');
body {
    background-color: #0A0C1B;
}
strong{
    color: #B15CDB;
}
h6{
    color: lightgray;
}
h1,h2,h3{
    font-size:38px;
    color:white;
    font-family: Deca,Lexend;
    font-weight:bold;
    text-align: left;
}
p{
    padding-top:15px;
    font-family: Inter;
    color:white;
    text-align:left;
    font-size:14px;
}
/*CONTAINER*/
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/*CARD*/
.card{
    display:grid;
    background-color: #1C1938;
    border-radius:1em;

}
.card > .row > .col{
    display: grid;
    padding:0;
}
.card-body{
    text-align: center;
    justify-content: center;
    display:flex;
    padding: 60px 40px;
}
.row{
    padding:auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.col > strong, h6{
    text-align: center;
    color:white;
}

.col>.image{
  
}
