@import url('https://fonts.google.com/specimen/Inter');
@import url('https://fonts.google.com/specimen/Lexend+Deca');
body {
    background-color: #0A0C1B;
}
strong{
    color: #B15CDB;
}
h6{
    color: lightgray;
}
h1,h2,h3{
    font-size:38px;
    color:white;
    font-family: Deca, Lexend, serif;
    font-weight:bold;
    text-align: left;
}
p{

    padding:19px;
    font-family: Inter, serif;
    color:white;
    text-align:left;
    font-size:14px;
}
/*CONTAINER*/
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/*CARD*/
.card{
    display:grid;
    background-color: #1C1938;
    border-radius:1em;

}
.card > .row > .col{
    display: grid;
    padding:0;
}
.card-body{
    text-align: center;
    justify-content: center;
    display:flex;
    padding: 60px 40px;
}
.row{

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.col > strong, h6{
    text-align: center;
    color:white;
}

.image{
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    background: url("images/image-header-desktop.jpg") ;
    background-size: cover;
    background-color: hsl(277, 64%, 61%);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
